<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1f578f;">
    <div class="container-fluid">
        <a href="/" class="header-logo">LightWarp Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/prioritymessage" class="nav-link" id="nav-browse">Priority Message</a>
                </li>
            </ul>
        </div>
    </div>
</nav>