<link rel="stylesheet" href="/assets/css/widget.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<div class="tts-wrapper"></div>

<script>
    const proto = window.location.protocol;
    const socket = io.connect(`${proto}//<%=webfront%>:${proto === `http:` ? `4550`: `443`}`, {
        secure: true,
        rejectUnauthorized: true,
        withCredentials: true
    });
    const audio = new Audio(`/assets/audio/notification.mp3`)
    const speech = new SpeechSynthesisUtterance();
    speech.lang = "en-US";
    speech.volume = 1;
    speech.rate = 1;
    speech.pitch = 1;

    socket.on(`prioritymessage`, (data) => {
        console.log(data)
        speech.text = `Priority Message from ${data.name} for 3 Dollars. ${data.arg}`;
        audio.play();
        setTimeout(() => {
            window.speechSynthesis.speak(speech);
        }, 2000)
    });

    socket.on(`mediashare`, (data) => {
        console.log(data)
        speech.text = `Recieved Media Share from: ${data.name}, for 6 Dollars.`;
        audio.play();
        setTimeout(() => {
            window.speechSynthesis.speak(speech);
        }, 2000)
    });

    socket.on(`clearall`, () => window.location.reload());
</script>
