<link rel="stylesheet" href="/assets/css/widget.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<div class="tts-wrapper"></div>

<script>
    const proto = window.location.protocol;
    const socket = io.connect(`${proto}//${window.location.hostname}:${proto === `http:` ? `443`: `4550`}`, {
        secure: true,
        rejectUnauthorized: true,
        withCredentials: true
    });
</script>
