<link rel="stylesheet" href="/assets/css/widget.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<div class="tts-wrapper"></div>

<script>
    const proto = window.location.protocol;
    const socket = io.connect(`${proto}//<%=webfront%>:${proto === `http:` ? `4550`: `443`}`, {
        secure: true,
        rejectUnauthorized: true,
        withCredentials: true
    });
    let isPlaying = false;
    let messages = [];
    const audio = new Audio(`/assets/audio/notification.mp3`);
    const speech = new SpeechSynthesisUtterance();
    speech.lang = "en-US";
    speech.volume = 1;
    speech.rate = 1;
    speech.pitch = 1;

    const playMessage = async (message) => {
        speech.text = message;
        console.log(`Start`)
        isPlaying = true;
        audio.currentTime = 0;
        await audio.play();
        setTimeout(async () => {
            await window.speechSynthesis.speak(speech);
        }, 2000);
        speech.onend = async () => {
            console.log(`Done`)
            messages.shift()
            isPlaying = false;
        }
    }

    setInterval(async () => {
        fetch(`/api/status`).then(response => response.json()).then(data => {
            if (messages.length > 0) {
                if (!isPlaying) {
                    if (!data.paused) {
                        playMessage(messages[0]);
                    }
                }
            }
        })
    }, 2000)

    socket.on(`prioritymessage`, async (data) => {
        console.log(data)
        const message = `Priority Message from ${data.name} for 3 Dollars. ${data.arg}`;
        messages.push(message)
    });

    socket.on(`mediashare`, async (data) => {
        console.log(data)
        const message = `Recieved Media Share from: ${data.name}, for 6 Dollars.`;
        messages.push(message)
    });

    socket.on(`clearall`, () => window.location.reload());

</script>
