<!DOCTYPE html>
<html lang="en">

<head>
    <title>LightWarp Store</title>

    <meta property="og:title" content="LightWarp Store">
    <meta property="og:description" content="Suppot LightWarp Media">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

    <link rel="icon" href="/assets/img/logo.jpg">
    <link rel="stylesheet" href="/assets/css/index.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

    <title>LightWarp Store</title>
</head>

<body>
    <%- body %>
</body>

</html>