<%- include('./partials/header'); %>
<br>
<h1 class="text-center text-light">Backup Audio Broadcast</h1>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <p class="text-center text-dark">Listen to the Backup Broadcast</p>
            <br>
            <div>
                <img src="/assets/img/on-air.jpg" alt="On Air Picture" class="center-image">
            </div>
            <br>
            <div style="text-align: center;">
                <p><strong>Call In:<br>USA - +12176661020 <br>IND - +919498759140</strong></p>
            </div>
            <br>
            <div class="form-group">
                <div style="text-align: center;">
                    <audio autoplay="" controls="">
                    <source src="https://broadcast-source.lightwarp.network/;?type=http&amp;nocache=10">
                    </audio>
                </div>
            </div>
        </div>
    </div>
</div>
<br>