<br>
<h1 class="text-center text-light">Stream Locations</h1>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <p class="text-center text-dark"><strong>Livestream Locations</strong></p>
            <br>
            <div>
                <img src="/assets/img/rajeev.gif" alt="Rajeev Family Reunion" class="center-image">
            </div>
            <br>
            <div style="text-align: center;">
                <a href="https://youtube.com/LightWarpTV/live"><strong>YouTube</strong></a>
            </div>
            <div style="text-align: center;">
                <a href="https://twitch.tv/LightWarpTV"><strong>Twitch</strong></a>
            </div>
            <div style="text-align: center;">
                <a href="https://dlive.tv/LightWarpTV"><strong>DLive</strong></a>
            </div>
            <div style="text-align: center;">
                <a href="https://vaughn.live/LightWarpTV"><strong>Vaughn</strong></a>
            </div>
            <div style="text-align: center;">
                <a href="/listen"><strong>Backup Audio Stream</strong></a>
            </div>
            <br>
        </div>
    </div>
</div>
<br>