<%- include('./partials/header'); %>
<br>
<h1 class="text-center text-light">Buy Media Share</h1>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <form action="/mediashare" method="post" name="prioritymessage-form" id="prioritymessage-form">
                <div class="form-group">
                    <label for="fromname">Your Name</label>
                    <input type="text" id="fromname" name="fromname" class="form-control"
                        placeholder="Enter your name" maxlength="80">
                    <br>
                    <label for="mediashare">Video Link</label>
                    <input type="text" id="mediashare" name="mediashare"
                        placeholder="YouTube/BitChute Video Link" class="form-control" maxlength="300"></input>
                    <br>
                    <input type="submit" id="buy-now-button" value="Buy Media Share with Paypal (6$)"
                        class="btn btn-primary btn-block">
                    <br>
                    <label>NOTE: Your Media Share Video will be watched by the host during intervals. The show has the right to not screen your video on stream.</label>
                    <label><strong>DISCLAIMER:</strong> By clicking on the Purchase Button, you agree that all Purchases are FINAL, and non refundable. Any chargebacks will be fought.</label>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    let form  = document.getElementById('prioritymessage-form');
    form.addEventListener('submit', (e) => {
        if (document.forms['prioritymessage-form'].fromname.value === "" || document.forms['prioritymessage-form'].prioritymessage.value === "") {
            alert("Please fill the required fields")
            return e.preventDefault();
        }
        document.getElementById(`buy-now-button`).disabled = true
    });
</script>