<%- include('./partials/header'); %>
<br>
<h1 class="text-center text-light">Buy Priority Message</h1>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <form method="post" action="/prioritymessage" name="prioritymessage-form" id="prioritymessage-form">
                <div class="form-group">
                    <label for="fromname">Your Name</label>
                    <input type="text" id="fromname" name="fromname" class="form-control"
                        placeholder="Enter your name" maxlength="80">
                    <br>
                    <label for="prioritymessage">Priority Message</label>
                    <textarea type="text" id="prioritymessage" name="prioritymessage"
                        placeholder="Enter your message (Include links to Media if applicable)" class="form-control" maxlength="300"></textarea>
                    <br>
                    <label for="fromemail">Email Address (Optional for Paypal, Required for Cryptocurrency.)</label>
                    <input type="text" id="fromemail" name="fromemail" class="form-control"
                        placeholder="Enter your email (For Crypto Payments)">
                    <br>
                    <label for="amount">Amount to Pay in USD (Minimum: 3)</label>
                    <input name="amount" id="amount" type="number" min="3" step="1" class="form-control"
                        placeholder="3"/>
                    <br>
                    <label for="amount">Payment Currency</label>
                    <select name="currency" id="currency" class="custom-select">
                        <option value='paypal'>USD (PayPal)</option>
                        <option value='btc'>Bitcoin (BTC)</option>
                        <option value='eth'>Ethereum (ETH)</option>
                        <option value='bch'>Bitcoin Cash (BCH)</option>
                        <option value='ltc'>Litecoin (LTC)</option>
                        <option value='xmr'>Monero (XMR)</option>
                        <option value='qtum'>Quantum (QTUM)</option>
                        <option value='dash'>Dash (DASH)</option>
                        <option value='zec'>ZCash (ZEC)</option>
                        <option value='bcn'>Bytecoin (BCN)</option>
                        <option value='doge'>Dogecoin (DOGE)</option>
                    </select>
                    <br>
                    <input style="margin-top: 20px;" type="submit" id="buy-button" value="Buy Priority Message"
                        class="btn btn-primary btn-block">
                    <br>
                    <label><strong style="color: red;">WARNING:</strong> ANY VIDEO MEDIA WILL ONLY BE PLAYED FOR AMOUNTS <strong>ABOVE 6 USD</strong>. The host also reserves the right to stop interacting with your media at their descretion and to completely omit your media all together.</label>
                    <label><strong>NOTICE:</strong> Your Priority Message will be read out by the host and/or TTS during intervals.</label>
                    <label><strong>DISCLAIMER:</strong> By clicking on the Purchase Button, you agree that all Purchases are FINAL, and non refundable. Any chargebacks will be fought.</label>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    let form  = document.getElementById('prioritymessage-form');
    form.addEventListener('submit', (e) => {
        if (document.forms['prioritymessage-form'].fromname.value === "" || document.forms['prioritymessage-form'].prioritymessage.value === "") {
            alert("Please fill the required fields")
            return e.preventDefault();
        }
        document.getElementById(`button`).disabled = true
    });
</script>
