<%- include('./partials/header'); %>
<br>
<h1 class="text-center text-light">Buy Priority Message</h1>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="background-color: #b1cbe6;">
            <form action="/prioritymessage" method="post" name="prioritymessage-form" id="prioritymessage-form">
                <div class="form-group">
                    <label for="fromname">Your Name</label>
                    <input type="text" id="fromname" name="fromname" class="form-control"
                        placeholder="Enter your name" maxlength="80">
                    <br>
                    <label for="prioritymessage">Priority Message</label>
                    <textarea type="text" id="prioritymessage" name="prioritymessage"
                        placeholder="Enter your message" class="form-control" maxlength="300"></textarea>
                    <br>
                    <input type="submit" id="buy-now-button" value="Buy Priority Message with Paypal (3$)"
                        class="btn btn-primary btn-block">
                    <br>
                    <label><strong>WARNING:</strong> DO NOT REQUEST MEDIA SHARE IN PRIORITY MESSAGE, REQUEST <a href="/mediashare">HERE</a></label>
                    <label>NOTE: Your Priority Message will be read out by the host and/or TTS during intervals.</label>
                    <label><strong>DISCLAIMER:</strong> By clicking on the Purchase Button, you agree that all Purchases are FINAL, and non refundable. Any chargebacks will be fought.</label>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    let form  = document.getElementById('prioritymessage-form');
    form.addEventListener('submit', (e) => {
        if (document.forms['prioritymessage-form'].fromname.value === "" || document.forms['prioritymessage-form'].prioritymessage.value === "") {
            alert("Please fill the required fields")
            return e.preventDefault();
        }
        document.getElementById(`buy-now-button`).disabled = true
    });
</script>
